body{
    font-family: Georgia;
}
.banner1, .banner2 {
    background-color: #3CB371;
    color: white;
    height: 100px;
    width: 40%;
}
.banner3 {
    background-color: #3CB371;
    height: 100px;
    width: 20%;

}
.stopka {
    background-color: #3CB371;
    color: white;
    width: 100%;
}
h6 {
    text-align: right;
}
form {
    padding: 30px;
}
.banner1, .banner2, .banner3, .stopka {
    float: left;
}
.dane {
    background-color: #FFDAB9;
    width: 170px;
    height: 90px;
    margin: 5px;
    border: 1px solid #3CB371;
    float: left;
}