body {
    font-family: Tahoma;
    color: white;
}

.b1, .b3, .b4 {
    background-color: #983713;
    width: 17%;
    height: 100px;
    float: left;
}

.b2 {
    background-color: #983713;
    width: 49%;
    height: 100px;
    text-align: center;
    float: left;
}

.lewy {
    background-color: #FF7F50;
    width: 80%;
    height: 500px;
    float: left;
}

.prawy {
    background-color: #FF7F50;
    width: 20%;
    height: 500px;
    float: left;
}

.stopka {
    background-color: #983713;
    text-align: right;
}

button {
    background-color: #D3D3D3;
    color: #2F2F2F;
    border: 2px solid #2F2F2F;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

input {
    color: orange;
}

a {
    color: white;
}