body{
    font-family: garamond;
}
.lewy{
    float: left;
    background-color: lavender;
    width: 25%;
height: 800px;
}
.lewy1 {
    height: 500px;
    background-color: lavender;
    
}
.lewy2 {
    height: 300px;
    background-color: lavender;
    
}

.prawy1 {
    height: 150px;
    background-color: indigo;
    color: white;
    font-size: 200%;
    text-align: center;
    float: left;
    width: 75%;
}
.prawy2 {
    height: 650px;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: left;
    width: 75%;
}
.stopka {
    background-color: indigo;
    color: white;
    text-align: right;
    width: 100%;
    float: left;
}
ul {
    list-style-type: square;
}
img {
padding: 5px;
margin: 10px;
}
img:hover {
    padding: 4px;
    border: 1px solid indigo;
}