body {
    font-family:arial;
    font-weight:400;
    background: url("https://assets.bonappetit.com/photos/57e1b4674caff61056fa86bd/master/pass/ttar_coconut_02_v_launch.jpg");
}
.panel { 
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
padding: 2.5%;
width: 45%;
background: #fff;
margin: 25px auto;
}
label { 
    min-width:150px;
    display:inline-block;
}
h1 { 
text-transform: uppercase;
font-weight: 300;
font-family: arial;
font-size: 1.75rem;
text-align: center;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
width: 100%;
padding:5px;
}
input[type="submit"] {
    background: none;
border: 1px solid black;
padding: 10px 25px;

display: inline-block;
cursor: pointer;
margin: 20px auto;
}
.uzytkownicy_panel {
float: left;
width: 100%;
background: #eee;
}
.uzytkownicy_panel .panel {
float: left;
}
.formularz_rejestracja {
background: #4f596f;
float: left;
width: 100%;
}
.naglowek_blue {
color: #fff;
background: #312f3b;
margin: 0;
padding: 20px 0;
clear: both;
}
.naglowek_red {
display: block;
background: #102fc5;
padding: 20px;
margin: 0;
clear: both;
color: white;
}
.btn_danger { 
background: #a62727  !important;
border: 1px solid  !important;
color: white  !important;
font-weight: 700  !important;
}
.btn_success {
background: #239647 !important;
color: white  !important;
border: 1px solid  !important;
font-weight: 700  !important;
}
.row > div {
float:left;
}
.wyszukaj th {
background: #7202d8;
color: #fff;
}
.wyszukaj th, .wyszukaj td {
border: 1px solid;
padding: 15px;
border-color: #cfcfcf;
}
.admin_menu {
    background: #7202d8;
    color: #fff;
    text-align: center;
}
.admin_menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    
}
.admin_menu h1 {
    margin: 0px;
    padding: 20px 0;
}
.admin_menu form {
    display: inline-block;
    background: none;
}
.admin_menu form button {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
}
.admin_menu a:hover {
    color: #4f596f;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.admin_menu form button:hover {
    background: transparent;
    color: #4f596f;
    border: 0;
    font-size: 1rem;
}
.admin_table {
    width: 100%;
}
.admin_table td {
    background: #5280d6;
    padding: 5px;
}
a.btn {
    background: #102fc5;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}
.admin_table tr:first-child td {
    background: #16256b;
    color: #fff;
    padding: 10px;
}
textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
}
input[name=tytul] {
    width: 100%;
    padding: 5px 0;
}
.info {
    background: #239647;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: #fff;
}
.btn_create {
    display: block;
    color: #fff;
    background: #239647;
    text-align: center;    
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}
.newsy h1 {
    border-left: 2px solid blue;
    padding-left: 15px;
    text-align: center;
}
.web{
    display: flex;
    width: 100%;
}
.menu {
    width: 15%;
    background: rgb(0, 15, 226);
    color: #fff;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu ul {
    padding: 0%;
}
.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #3476f1;
}
.content {
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    background: url("https://assets.bonappetit.com/photos/57e1b4674caff61056fa86bd/master/pass/ttar_coconut_02_v_launch.jpg");
}
.web .panel {
    width: 75%;
}
.newsy_panel {
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    padding: 2.5%;
    width: 45%;
    margin: 25px auto;
    background: #fff;
}   