body {
    font-family: Helvetica;
}

.l1 {
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
    float: left;
    text-align: center;
}
.l2 {
    height: 400px;
    width: 70%;
    background-color: snow;
    float: left;
}

.p1 {
    height: 150px;
    background-color: steelblue;
    color: white;
    text-align: center;
}

.p2 {
    height: 350px;
    background-color: steelblue;
    color: white;
}

.p3 {
    height: 300px;
    background-color: snow;
    text-align: center;
}

.stopka {
    background-color: steelblue;
    color: white;
    float: left;
    clear: both;
    width: 100%;
}

h2 {
    font-size: 250%;
}

img {
    padding: 4px;
}

img:hover {
    padding: 3px;
    border: 1px solid steelblue;
}

.lewe {
    width: 70%;
    float: left;
}

.prawe {
    width: 30%;
    background-color: steelblue;
    float: left;
}