body {
    font-family: garamond;
    margin: 0;
}
.baner_lewy, .baner_prawy {
    background-color: rgb(95,158,160);
    color: yellow;
    width: 20%;
    height: 90px;
text-align: right;
float: left;
}
.baner_srodkowy {
    background-color: rgb(95,158,160);
    color: yellow;
    width: 60%;
    height: 90px;
    text-align: center;
    float: left;
}
.lewy, .prawy {
    background-color: rgb(175,238,238);
    width: 50%;
    height: 250px;
    float: left;
}
.glowny {
    background-color: rgb(95,158,160);
    padding: 30px;
}
.stopka {
    background-color: rgb(175,238,238);
    padding: 10px;
}
table {
    border: 2px dotted green;
    width: 100%;
border-collapse: collapse;
}
table td {
    border: 2px dotted green;
}
table th {
    background-color: green;
    color: yellow;
    border: 2px dotted green;
}
