body {
    font-family: ARIAL;
}
.lewy, .prawy {
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 410px;
    float: left;
}
.banner, .glowny {
    background-color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
}
.stopka_lewy, .stopka_prawy {
    background-color: rgb(255, 127, 80);
    width: 50%;
    height: 100px;
    float: left;
}
table, td {
    border: 1px solid rgb(255, 127, 80);
    padding: 10px;
    text-align: center;
}
a {
    color: white;
}