body {
    font-family: Arial;
}
.lewy, .prawy{
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 410px;
    float: left;
}
.baner, .glowny{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
    float: left;
}
.stopka_lewa, .stopka_prawa{
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}
table {
    border: 1px solid  rgb(255, 127, 80) ;
    padding: 10px;
    text-align: center;
}
table td{
    border: 1px solid  rgb(255, 127, 80) ;
    padding: 10px;
    text-align: center;
}
a {
    color: white;
}
.baner {
    width: 100%;
}
.glowny {
    width: 100%;
    clear: both;
}