body {
    font-family: Helvetica;
}

.gora1, .gora2 {
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}

.baner, .stopka {
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    float: left;
    width: 100%;
}

.lewy, .prawy {
    background-color: rgb(146, 184, 112);
    width: 50%;
    float: left;
    height: 450px;
}

.gora2 a {
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}

table {
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}

table td {
    border: 2px dashed green;
    margin: 30px;
    padding: 20px
}

h1 {
    font-size: 250%;
    letter-spacing: 20px;
}

#kolor {
    width: 250px;
    height: 150px;
    border: 10px solid rgb(100, 61, 49);
    border-radius: 50px;
    margin-left: 20px;
}