body {
    font-family: Helvetica;
}
.lewy{
    background-color: navy;
    color: white;
    height: 700px;
    width: 25%;
    float: left;
}
.prawy1 {
    background-color:  RoyalBlue;
    height: 100px;
    width: 75%;
    text-align: center;
    float: left;
}
.prawy2 {
    background-color:  SteelBlue;
    height: 300px;
    width: 75%;
    float: left;
}
.prawy3 {
    background-color:  RoyalBlue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
}
.stopka {
    background-color:  SteelBlue;
    text-align: center;
    padding: 20px;
    width: 100%;
    clear: both;
    box-sizing: border-box;
}
h1 {
    letter-spacing: 5px;
}
form {
    margin: 30px;
    line-height: 3px;
}
form:hover {
    background-color: deepskyblue;
}
label {
    margin: 15px 0;
    display: block;
}