body {
    font-family: Georgia;
}

.b1, .b2, .b3, .s1, .s2, .s3 {
    background-color: sienna;
    color: white;
    height: 150px;
    float: left;
}

.b1, .s1 {
    width: 40%;
    clear: both;
}

.b2, .s2 {
    width: 50%;
    font-size: 150%;
}

.b3, .s3{
    width: 10%;
    text-align: center;
}

.glowny {
    background-color: tan;
    padding: 100px;
    float: left;
    width: 84.2%;
}

a {
    border: 1px dotted sienna;
    background-color: tan;
    color: sienna;
    padding: 40px;
    line-height: 150px;
}

ul li {
    list-style-type: circle;
}