body {
    font-family: verdana;
    color: #2f2f2f;
}
.baner1 {
    background-color: #dcdcdc;
    width: 55%;
    height: 80px;
    text-align: center;
    float: left;
}
.baner2, .baner3, .baner4 {
    background-color: #dcdcdc;
    width: 15%;
    height: 80px;
    float: left;
}
.lewy {
    background-color: #808080;
    width: 30%;
    height: 450px;
    float: left;
}
.prawy {
    background-color: #808080;
    width: 70%;
    height: 450px;
    float: left;
}
.stopka {
    background-color: #dcdcdc;
    text-align: center;
    width: 100%;
    float: left;
}
h5 {
    background-color: #808080;
    border: solid 1px #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;
}
input {
    color: gray;
}
