body {
    font-family: Verdana, sans-serif;
}

.naglowek, .stopka {
    background: #4682B4;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 120%;
}

.blok_lewy {
    float: left;
    background: #40E0D0;
    height: 500px;
    width: 40%;
}

.blok_prawy {
    float: left;
    width: 60%;
    height: 500px;
    background: #40E0D0;
}

img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}

.stopka {
    clear: both;
}