body {
    font-family: Georgia;
}
.gora1, .gora2 {
    background-color: rgb( 197, 85, 160);
    text-align: center;
    width: 50%;
    height: 180px;
    float: left;
}
.baner, .stopka {
    background-color: rgb(246, 226, 222);
    text-align: center;
    height: 100px;
    padding: 10px;
    float: left;
    width: 100%;
}
.lewy, .prawy {
    background-color: rgb(197, 85, 160);
    color: white;
    width: 50%;
    height: 400px;
    float: left;
}
.gora2 a {
    padding-right: 70px;
    padding-bottom: 120px;
    font-size: 150%;
text-decoration: none;
}
table {
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
}
table td {
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
}
h2 {
    font-size: 200%;
    letter-spacing: 10px;
}
#kolor {
    width: 250px;
    height: 150px;
    border: 15px double steelblue;
}