body {
    font-family: Tahoma;
}

a {
    color: #ffd87e;
}

.baner {
    background-color: #af8c4b;
    text-align: center;
    height: 60px;
}

.panel_lewy {
    background-color:  #af8c4b;
    text-align: right;
    width: 30%;
    height: 500px;
    float: left;
}

.panel_prawy {
    background-color: #ffd87e;
    width: 70%;
    height: 500px;
    overflow: scroll;
    float: left;
}

.panel_lewy hr {
    border: 1px solid #ffd87e;
}

.panel_lewy li {
    list-style: inside;
    list-style-type: circle;
}

table tr td {
    border: 1px dotted black;
}

.stopka {
    background-color: #af8c4b;
    text-align: center;
    height: 25px;
    clear: both;
}