.banner {
    background: #D47958;
    height: 50px;
}

.lewy {
    background: #AA593B;
    height: 450px;
    width: 40%;
}

.srodkowy {
    background: #E5998B;
    height: 450px;
    width: 30%;
}

.prawy {
    background: #AA593B;
    height: 450px;
    width: 30%;
}

.stopka {
    background: #D47958;
    height: 50px;
    width: 100%;
    clear: both;
    text-align: right;
}

ul li {
    list-style-type: circle;
}

ul {
    margin-left: 100px;
}

img {
    margin-top: 100px;
    float: left;
}

form {
    margin-left: 120px;
    margin-top: 50px;
}

h4 {
    margin-left: 100px;
    margin-top: 200px;
}

h2 {
    text-align: center;
    margin: 0;
}

h3 {
    text-align: center;
}

.lewy, .prawy, .srodkowy {
    float: left;
}