body{
    font-family: helvetica;
}
.lewy1{
    height: 400px;
    text-align: center;
    background-color: snow;
    
}
.lewy2{
    height: 400px;
    background-color: snow;
    font-size: 150%;
    
}
.prawy1{
    height: 150px;
    background-color: steelblue;
    color: white;
    text-align: center;
    
}
.prawy2{
    height: 350px;
    background-color: steelblue;
    color: white;
    
}
.prawy3{
    height: 300px;
    background-color: snow;
    text-align: center;
    
}
.stopka{
    background-color: steelblue;
    color: white;
    width: 100%;
    float: left;
}
h2{
    font-size: 250%;
}
img{
    padding: 4px;
}
img:hover{
    padding: 3px;
    border: 1px solid steelblue;
}
.lewy, .prawy{
    float: left;
}
.lewy{
    width: 70%;
    background-color: snow;
}
.prawy{
    width: 30%;
    background-color: steelblue;
}
