body {
    font-family:arial;
    font-weight:400;
}
.panel { 
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
padding: 2.5%;
width: 45%;
background: #fff;
margin: 25px auto;
}
label { 
    min-width:150px;
    display:inline-block;
}
h1 { 
text-transform: uppercase;
font-weight: 300;
font-family: arial;
font-size: 1.75rem;
text-align: center;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
width: 100%;
padding:5px;
}
input[type="submit"] {
    background: none;
border: 1px solid black;
padding: 10px 25px;

display: inline-block;
cursor: pointer;
margin: 20px auto;
}
.uzytkownicy_panel {
float: left;
width: 100%;
background: #eee;
}
.uzytkownicy_panel .panel {
float: left;
}
.formularz_rejestracja {
background: #4f596f;
float: left;
width: 100%;
}
.naglowek_blue {
color: #fff;
background: #312f3b;
margin: 0;
padding: 20px 0;
clear: both;
}
.naglowek_red {
display: block;
background: #6d2929;
padding: 20px;
margin: 0;
clear: both;
color: white;
}
.btn_danger { 
background: green  !important;
border: 1px solid  !important;
color: white  !important;
font-weight: 700  !important;
}
.btn_success {
background: blue !important;
color: white  !important;
border: 1px solid  !important;
font-weight: 700  !important;
}
.row > div {
float:left;
}
.wyszukaj th {
background: #000;
color: #fff;
}
.wyszukaj th, .wyszukaj td {
border: 1px solid;
padding: 15px;
border-color: #cfcfcf;
}
.admin_menu {
    background: #000;
    color: #fff;
    text-align: center;
}

.admin_menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.admin_menu a:hover {
    background: transparent;
    color: rgb(40, 23, 194);
    border: 0;
    font-size: 1rem;
    border: solid greenyellow 3px;
    padding: 5px 5px;
}

.admin_menu h1 {
    margin: 0;
    padding: 20px 0;
}

.admin_menu form {
    display: inline-block;
    background: none;
}

.admin_menu form button {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
}

.admin_menu form button:hover {
    background: transparent;
    color: lightseagreen;
    border: 0;
    font-size: 1rem;
    border: solid rgb(107, 8, 8) 3px;
    padding: 5px 5px;
}
a.btn {
    background: yellowgreen;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
textarea {
    width: 100%;
    min-height:200px;
    resize:none;
}
input[name=ytul] {
    width: 100%;
    padding: 5px 0;
}
.info {
    background: green;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white;
}
.btn_create {
    display: block;
    color: #fff;
    background: green;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}
.newsy h1 {
    border-left: 2px solid blue;
    padding-left: 15px;
    text-align: left;
}
.web {
    display: flex;
    width:100% ;
}
.menu {
    width: 25%;
    background: rgb(24, 88, 53);
    color: white;
}
.menu a {
    color: white;
    text-decoration: none;
}

.menu ul {
    padding: 0;
}
.menu ul li {
    padding: 10px;
    border-bottom: 1px solid green;
    background: rgb(121, 199, 4);
}
.content {
    background: rgba(7, 99, 48, 0.527);
color: white;
    width: 75%;
    overflow-y: scroll;
    height:100vh;
}
.web .panel {
    width: 75%;
}
.newsy_panel{
    box-shadow: 0px, 15px, -10px black;
    padding: 2.5%;
    width: 45%;
    background: rgb(4, 66, 7);
    margin: 25px auto;
}
