body{
    background-color: #99FFCC;
}
.kontener {
    width: 1000px;
    margin: auto;
}
.baner {
    background-color: #99FF66;
    height: 200px;
}
.menu {
    background-color: #66CCFF;
    text-align: center;
    padding-bottom: 20px;
}
.glowny1, .glowny2, .glowny3 {
    width: 310px;
    padding: 10px;
    float: left;
}
.stopka {
    background-color: #66CCFF;
    color: #006666;
    text-align: right;
    height: 30px;
    padding: 20px;
    float: left;
    width: 100%;
}
a{
    color: #006666;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
h2,h3 {
    text-align: center;
}

input[type="button"]{
    background-color: #00FF00;
}

button{
    background-color: #FF0000;
}